body {
  margin: 0;
  line-height: 1.5;
    color:brown;
    font-family: 'Rubik', sans-serif;
}
h1{
    color:midnightblue;
    font-family: 'Bellefair', serif;
    font-size: 48px

}
h2{
    color:deeppink;
    font-family: 'Bellefair', serif;
    font-size: 30px
    
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}


ul {
    font-family: 'Rubik', sans-serif;
}

h2 {
    
}

li {
    
    font-family: 'Rubik', sans-serif;
}
