body {
    margin: 0;
    line-height: 1.5;
    color: #b87a35;
    font-family: 'Rubik', sans-serif;
}

h1 {
    color: midnightblue;
    font-family: 'Bellefair', serif;
    font-size: 48px
}

h2 {
    color: deeppink;
    font-family: 'Bellefair', serif;
    font-size: 30px
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}


ul {
    font-family: 'Rubik', sans-serif;
}

h2 {}

li {

    font-family: 'Rubik', sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
}

.cta {
    background: #f4e6c1;
    font-size: 21px;
    padding: 20px;
    color: #593c1c;
    overflow: hidden;

}

.cta h3 {
    color: #d49045;
}



.button {
    background: #5d80a8;
    color: white;
    text-decoration: none;
    padding: 14px;


}

.alignleft {
    max-width: 40%;
    float: left;
    margin-right: 14px;
    margin-bottom: 14px;

}

.cookie {
    margin-left: 70px;
}

.news {
    padding: 60px;
    background: url(img/bg2.jpg);
    background-position: center;
    background-size: cover;

    font-size: 24px;
    color: #000;
}

.news h2 {
    color: #fb5c3f;
}
