@font-face {
    font-family: 'spacer';
    src: url('fonts/spacer/700/fbspacer-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'almoni-neue';
    src: url('fonts/almoni-neue/400/almoni-neue-aaa-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'almoni-neue';
    font-weight: 400;
    line-height: 1.5;
    background: #4A566E;
    color: #fff;
}



h1 {
    font-family: 'spacer';
    font-weight: 700;
    font-size: 34px;
}

h2 {
    color: #F68A1E;

}


h1:after {
    content: "";
    border-bottom: 2px solid #fff;
    width: 90px;
    display: block;
    margin: auto;
}



img {
    max-width: 100%;
    width: auto;
    height: 200px;
}




.banner {
    background-image: linear-gradient(rgba(255, 255, 255, 255), rgba(0, 0, 0, 0.6)),
        url(img/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    background-attachment: fixed;
    position: relative;

}




.button {
    text-decoration: none;
    color: #fff;
    background: #F68A1E;
    padding: 10px 40px;
    display: inline-block;
    transition: .3s;

}

.button:hover {
    background: #000;
    color: #F68A1E;
}

.container {
    max-width: 980px;
    margin: auto;
}

a {
    color: #fff;
}

.banner.container {
    max-width: 600px;

}

.features {
    background: #000;
    text-align: center;
    padding: 40px;
}

.features ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 60px;
}

.features img {
    max-width: 100px;
    height: auto;

}

.features h2:after {
    margin: auto;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding-top: 50px;

}

footer a {
    color: #F68A1E;
}

footer img {
    width: 30px;
    height: auto;
}

.social {
    margin: 0 40px;
}

.social a {
    margin: 0 5px;
}

.custom-shape-divider-bottom-1617007744 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1617007744 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
}

.custom-shape-divider-bottom-1617007744 .shape-fill {
    fill: #000000;
}
