@font-face {
    font-family: 'spacer';
    src: url('fonts/spacer/700/fbspacer-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'almoni-neue';
    src: url('fonts/almoni-neue/400/almoni-neue-aaa-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'almoni-neue';
    src: url('fonts/almoni-neue/300/almoni-neue-aaa-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'spoiler';
    src: url('fonts/spoiler/400/fbspoiler-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'spoiler';
    src: url('fonts/spoiler/700/fbspoiler-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


body {
    margin: 0;
    font-family: 'almoni-neue';
    font-weight: 400;
    line-height: 1.5;
    background: #8e8f8f;
    color: #fff;
}



h1 {
    font-family: 'spoiler';
    font-weight: 700;
    font-size: 30px;

}

.banner h1 {
    font-weight: 700;
}


h2 {
    color: #F68A1E;

}


h1:after {
    content: "";
    border-bottom: 4px solid #F68A1E;
    width: 200px;
    display: block;
    margin: auto;
}



img {
    max-width: 100%;
    width: auto;
    height: auto;
}

header img {
    height: 200px;
}

.menu .banner {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.6)),
        url(img/menu-img2.jpg);
    background-position: center;
    background-size: cover;
}

.present .banner {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.6)),
        url(img/present-img.jpg);
    background-position: center;
    background-size: cover;
}

.contact .banner {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.6)),
        url(img/contact-img2.jpg);
    background-position: bottom;
    background-size: cover;
}

.about .banner {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.6)),
        url(img/about-img.jpg);
    background-position: center;
    background-size: cover;
}


.banner {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.6)),
        url(img/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    background-attachment: fixed;
    position: relative;

}




.button {
    text-decoration: none;
    color: #fff;
    background: #F68A1E;
    padding: 10px 40px;
    display: inline-block;
    transition: .3s;


}

.button:hover {
    background: #000;
    color: #F68A1E;
}

.container {
    max-width: 980px;
    margin: auto;
}



nav ul {
    list-style: none;
    padding: 0;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: auto;
    font-weight: 300;


}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
    border-bottom: 3px solid transparent;
    font-size: 18px;
}

nav a:hover {
    border-bottom-color: #F68A1E;
    background: rgba(0, 0, 0, 0.5);
}

.current a {
    font-weight: bold;
    color: #000;

}

a {
    color: #fff;
}

.banner.container {
    max-width: 600px;

}

.features {
    background: #000;
    text-align: center;
    padding: 40px;


}

.features ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 60px;
}

.features img {
    max-width: 100px;
    height: auto;

}

.features h2:after {
    margin: auto;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 12px;

}

footer a {
    color: #F68A1E;
}

footer img {
    width: 30px;
    height: auto;
}

.social {
    margin: 0 40px;
}

.social a {
    margin: 0 5px;
}

.custom-shape-divider-bottom-1617007744 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1617007744 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
}

.custom-shape-divider-bottom-1617007744 .shape-fill {
    fill: #000000;
}

.presents {
    text-align: center;
    padding: 24px;

}


.gallery {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.gallery img {
    display: block;
}


.price-list {
    list-style: none;
    padding: 0;
    font-size: 18px;
    columns: 2;
    column-gap: 40px;
}

.price-list li {
    display: flex;
    margin-bottom: 10px;
}

.line {
    flex: 1;
    border-bottom: 2px solid #c7a17a;
    height: 1em;
    margin: 0 5px;
}

.price {
    font-weight: bold;
}

.price-wrap {
    padding: 56px 0;
}

.price-wrap img {
    width: 80px;
    margin: auto;
    display: block;
    padding-bottom: 25px;
}

.price-wrap h2 {
    text-align: center;
    margin-top: 0;
}

.price-wrap h2:after {
    margin: auto;
}

.background {
    background: #000;
}

.contact .price-list {
    columns: 1;
    max-width: 400px;
    margin: auto;
}

.team-wrap {
    padding: 30px 0;
    text-align: center;
}

.team {
    list-style: none;
    padding: 0;
    display: flex;
}

.team li {
    margin: 20px;
}

.team h3,
.team p {
    margin: 0;
}

.team img{
    border-radius: 50%;
}

.team p{
    color: #000; 
}

form {
  width: 350px;
  margin: auto;
    padding: 30px;
}

.kesher h1{
    text-align: center;
}

input, textarea {
  font: inherit;
  color: #000;
  display: block;
  border: 0;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  background: rgba(255,255,255,0.8);
}
::placeholder {
  color: #000;
  opacity: 0.5;
}
textarea {
  height: 200px;
}
label {
  margin-bottom: 20px;
  display: block;
}
.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
input:focus, textarea:focus {
  outline: 0;
  background: #fff;
  color: #F68A1E;

  }








